wandb
output
.ipynb_checkpoints
nbs/profile_snapshots
**/*checkpoint.ipynb
**/*.log
nbs/tmp-*
data/
sbatch_outputs/

# python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

finetune_fsdp_qlora.egg-info/
*.egg-info/
uv.lock
.uv/
build/
dist/

.ruff_cache/
.mypy_cache/
.pytest_cache/
.vscode/
.DS_Store
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local